/* Some basic formatting */
label#selectFile {
    display: inline-block;
    color: white;
    font-weight: bold;
    min-height: 1em;
    font-size: 1rem;
    margin-right: 1em;
}
input[type="file"] {
    display: none;
}
code {
    background-color: #E0E0E0;
    padding: 0.25em 0.3em;
    font-family: 'Lato';
    font-weight: bold;
}

.ui.container {
    padding: 1em 0em;
}

.form {
    padding-bottom: 2em;
}
.ui.dividing.header,
.first {
    margin-top: 5em;
}

.ui.dividing.header:first-child {
    margin-top: 0em;
}

div.ui.error.message {
    display: block !important;
}

h1,
h3 {
    margin-top: 10em;
}

img {
    display: block;
    max-width: 100%;
}
img + img {
    margin-top: 0.5em;
}

/* Shows content box (not negative margins) */
.grid {
    position: relative;
}
.grid:before {
    position: absolute;
    top: 1rem;
    left: 1rem;
    background-color: #F0F0F0;
    content: '';
    width: calc(100% - 2rem);
    height: calc(100% - 2rem);
    box-shadow: 0px 0px 0px 1px #DDDDDD inset;
}
.ui.divided.grid:before,
.celled.grid:before {
    display: none;
}
.ui.aligned .column:after {
    display: none !important;
}
.grid .column:not(.row):not(.grid):after {
    background-color: rgba(86, 61, 124, .15);
    box-shadow: 0px 0px 0px 1px rgba(86, 61, 124, 0.2) inset;
    content: "";
    display: block;
    min-height: 50px;
}
@media only screen and (max-width: 768px) {
    .stackable.grid:before {
        width: 100%;
        left: 0em;
    }
}

