{% extends "teststore/layout.html" %}
{% load static %}

{% block body %}

    <div class="ui text container">
        <h2 class="ui dividing header">
            <div class="content">Products</div>
        </h2>
        <table class="ui celled table">
            <thead>
                <tr><th>Article</th>
                    <th>Desription</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                <tr>
                    <td data-label="Article">{{ product.article }}</td>
                    <td data-label="Description">{{ product.description }}</td>
                    <td data-label="Price">{{ product.price_sell }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
