{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>teststore</title>
        <link rel="stylesheet" type="text/css" href="{% static 'teststore/dist/semantic.min.css' %}">
        <script
          src="https://code.jquery.com/jquery-3.1.1.min.js"
          integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
          crossorigin="anonymous"></script>
        <script src="{% static 'teststore/dist/semantic.min.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'teststore/styles.css' %}">
    </head>
    <body>
        <div class="ui secondary container menu">
            <a class="active item" href="{% url 'index' %}">
                Home
            </a>
            {% if not user.is_authenticated %}
            <a class="item" href="{% url 'login' %}">
                Login
            </a>
            <a class="item" href="{% url 'register' %}">
                Register
            </a>
            {% elif user.is_authenticated and user.is_staff %}
            <a class="item" href="{% url 'import' %}">
                Import Products
            </a>
            {% endif %}
            <div class="right menu">
                <div class="item">
                    <div class="ui icon input">
                        <input type="text" placeholder="Search...">
                        <i class="search link icon"></i>
                    </div>
                </div>
                <div class="item">
                    <div class="ui vertical animated teal button" tabindex="0">
                        <div class="hidden content">Shop</div>
                        <div class="visible content">
                            <i class="shop icon"></i>
                        </div>
                    </div>
                </div>
                {% if user.is_authenticated %}
                <a class="ui item" href="{% url 'logout' %}">
                    Logout
                </a>
                {% endif %}
            </div>
        </div>
        {% block body %}
        {% endblock %}
    </body>
</html>
