{% extends "teststore/layout.html" %}
{% load static %}

{% block body %}

    <div class="ui text container">
        <h2 class="ui dividing header">
            <div class="content">
               Register
            </div>
        </h2>
        <form class="ui large form" action="{% url 'register' %}" method="post">
            {% csrf_token %}
            {% if message %}
            <div class="field">
                <p>
                    {{ message }}
                </p>
            </div>
            {% endif %}
            <div class="field">
                <div class="ui left icon input">
                    <input type="text" name="username" placeholder="Username">
                </div>
            </div>
            <div class="field">
                <div class="ui left icon input">
                    <input type="password" name="password" placeholder="Password">
                </div>
            </div>
            <div class="field">
                <div class="ui left icon input">
                    <input type="password" name="confirmation" placeholder="Confirmation">
                </div>
            </div>
            <button class="ui button teal" type="submit">Login</button>
            <p>
                Already have an account? <a href="{% url 'login' %}">Log In here.</a>
            </p>
        </form>
    </div>

{% endblock %}
