{% extends "teststore/layout.html" %}
{% load static %}

{% block body %}

    <div class="ui text container">
        <h1 class="ui dividing header">TestStore</h1>
        <h2>Import Supplier's Products</h2>
        <form class="ui form" action="{% url 'import' %}" method="post" enctype="multipart/form-data">
            <div class="field">
                {% csrf_token %}
                <div class="field">
                    <label for="upload2" id="selectFile" class="ui button teal">Choose file...</label>
                    <input type="file" name="file" id="upload2" required="">
                </div>
                <div class="inline field">
                    <div class="ui toggle checkbox">
                        <input type="checkbox" tabindex="0" id="old_one" name="exists" value="off">
                        <label>Would like to update existing products?</label>
                    </div>
                </div>
                <button class="ui button teal" type="submit">Submit</button>
            </div>
        </form>
    </div>
    <script src="{% static 'barcodes/main.js' %}"></script>

{% endblock %}
